@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  transition-duration: inherit;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", Arial, sans-serif;
  background: grey;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 95%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: right;
  color: rgb(206, 206, 206);
}

.header h2 {
  margin-right: 0;
  align-self: flex-end;
}

.main {
  position: relative;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: white;
  box-shadow: 10px 10px 30px rgba(0,0,0,.5);
}

.link {
  font-weight: 500;
  text-decoration: underline;
}

.link:hover {
  color: rgb(68, 190, 164);
}

.footer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  line-height: 2em;
  color: rgb(44, 44, 44);
}

hr {
  margin-top: -15px;
  margin-left: 0;
  width: 20em;
}

p { text-align: justify; }

#ava {
  box-sizing: content-box;
  position: absolute;
  right: 10%;
  top: 70px;
  border: 5px solid white; 
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

#ava img {
  height: 100%;
  width: 100%;
}

#name-section {
  margin-top: 0;
  padding-left: 2.5%;
  padding-right: 100px; 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  font-size: 24px;
  height: 5em;
  text-transform: uppercase;
  color: white;
  text-shadow: 2px 2px 5px rgba(73,73,73,.7);
  background: rgb(84, 182, 157);
}

h3, h4 {
  text-transform: uppercase;
}

.contacts {
  margin-right: 10%;
  list-style: none;
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: inherit;
}

.footer-link {
  display: flex;
  align-items: center;
  width: max-content;
}

.footer-link img {
  margin-right: 10px;
}

@media screen and (min-width: 900px) {
  .wrapper {
    width: 90%;
  }
  #name-section {
    margin-top: 0;
    padding-left: 5%;
  }  
  .header {
    width: 70%;
  }
  .main {
    width: 70%;
  }
  .footer {
    width: 70%;
  }
  #ava {
    position: absolute;
    right: 10%;
    top: 50px;
    border: 10px solid white; 
    border-radius: 50%;
    height: 200px;
    width: 200px;
  }
  h1 {
    font-size: 30px;
  }
  .contacts {
    margin-right: 40%;
  }  
}
@media screen and (min-width: 1400px) {
  h1 {
    font-size: 34px;
  }
  .header {
    width: 1000px;
  }
  .main {
    width: 1000px;
  }
  .footer {
    width: 1000px;
  }
}